<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
<style>
div {
    background-color: lightblue;
}

</style>
  </head>
  <body>
    <div class="container" align="center">
      <div class="header">
        <h3 class="text-muted">Select a file to Upload</h3>
      </div>
      <hr/>
      <div>
      
      <form action="uploader" method="post" enctype="multipart/form-data" align="left">
        <input type="file" name="file"><br /><br />
        <input type="submit" class="btn btn-info" value="Upload"><style>
</style>
      </form>
      </div>
    </div>
  </body>
</html>
